{
    padding: 0px;
    margin: 0px;
}
body{
    /*background: 0vmax;*/
    background-color: rgb(41, 131, 233);
    margin-top: 3em;
    margin-bottom: 3em;
    max-width: 100%

}

@media all and screen (min-width: = 560px){
    
}

img{
    max-width: 100%;
    height: auto;
}


/* Pages Navigation bar */
.nav_bar{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
}

.rounded_circle{
    height: 6%;
    width: 6%;
    border: none;
    border-radius: 50%;
    margin-right: 1em;
}

a{
    text-decoration: none;
}

#logo{
    height: 6%;
    width: 6%;
    border: none;
    border-radius: 50%;
    margin-left: 1.5em;
}

/* Main container frame*/
main{
    background-color: white;
    height: 655px;
    width: 70%;
    padding-top: 1.5em;
    margin: auto;
    border: none;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 1px 1px 1px 1px;
    @media all and screen (min-width: = 560px){
    
}
}

.flex-container{
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    margin-top: 3%;
}
.flex_left{
    width: 50%;
    height: 90%;
    
}

.flex_right{
    width: 50%;
    height: 90%;
}

/* Display picture frame*/
.dp{
    height: 12em;
    width: 12em;
    border: none;
    border-radius: 0px 20px 0px 20px;
}

/* Work and Project layout*/
#work{
    padding-bottom: 1em;
    padding-top: 0em;
    /*@media all and screen (min-width: = 560px){*/
    
/*}*/
}

#ul{
    padding-bottom: 0.2em;
    color: red;
}

#ol{
    padding-top: 2em;
}

li{
    font-family: monospace;
    color: blue;
    padding-top: 0.5em;
}
/* Basic Info*/
#name{
    display: flex;

}
#location{
    display: flex;
    align-self: center;
    padding-left: 0.5em;
    padding-top: 0.5em;
    color: green;   
}

/* Summary layout*/
#links{
    display: flex;
}

#meet{
    display: flex;
    align-self: center;
    padding-top: 1em;
    
}

#suma{
font-family: serif;
font-size: 1rem;
 @media all and screen (min-width: = 560px){
    
}
}
/*Contact & Bio - Data goes here*/
#contact{
    padding-top: 1.5em;
    width: 50%;
    height: 50%
    @media all and screen (min-width: = 560px){
}
}
#add{
    padding-top: 1em;
    padding-bottom: 2em;
    width: 50%
    height: 50%
}

#bio{
    padding-top: 1em;
    width: 50%
    height: 50%
}


h3{
    text-align: center;
    padding-top: 2em;
    color: red;
}

h2, h5{
    font-family: serif;
    color: red;
}
/*Contact form layout*/
h5{
    font-size: 1rem;
}

.contact_form{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    border-radius: 20px 20px 20px 0px;
    @media all and screen (min-width: = 560px){
}
}

.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
}
    

#field_element{
    height: 2em;
    width: 20em;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(239, 246, 247);
    padding-left: 1em;
    margin-bottom: 0.5em;
     
    
}

#gnder{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}

#bttn{
    display: flex;
    height: 2em;
    width: 4em;
    padding-left: 0.5em;
    align-items: center;
    color: white;
    background: green;
    
}

#bttn:hover{
    background: red;
}

.items{
   padding-bottom: 5em;
}

#text-a{
height: 10em;
width: 20em;
align-self: left;
text-align: center;
border: none;
}

#chkbox{
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: red;
}


     


